<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Chatting Main</title>
</head>
<body>
  <label> 채팅방 입장 </label>
  <input id="room_input" name="room_input" type="text" size="20">
  <input id="room_submit" name="room_submit" type="submit" size="20">
</body>
<script>
  document.querySelector('#room_input').focus();
        document.querySelector('#room_input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room_submit').click();
            }
        };

        document.querySelector('#room_submit').onclick = function(e) {
            var roomName = document.querySelector('#room_input').value;
            window.location.pathname = '/chatting/' + roomName + '/';
        };
</script>
</html>